﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="~/Scripts/create-elements/create-new-element.js"></script>
    <script src="~/Scripts/create-elements/new-element-argument.js"></script>
    <script src="~/Scripts/create-elements/attribute.js"></script>
    <script src="~/Scripts/constants/api-constants.js"></script>
    <script src="~/Scripts/numbers/numbers.js"></script>
    <script src="~/Scripts/numbers/update-bounds.js"></script>
    <script src="~/Scripts/numbers/list-view.js"></script>
</body>
</html>
