﻿#bounds > div {
    float: left;     
}

#bounds input {
    width: 2.5em;
    height: 2em;
}

#header {
    display: table;
    margin: 20px;
    padding: 10px;
    width: 90%;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 2px;
}

#header > div, #header > button {
    display: table-cell;
    text-align: center;
}

#numbers {
    margin: 0px 25px;
}

#numbers > div {
    border: 1px solid rgba(0, 0, 0, 0.05);
    min-width: 5em;
    height: 2em;
    text-align: center;
}

.Three {
    background-color: rgba(0, 0, 0, 0.1);
}

.Five {
    background-color: rgba(87, 110, 173, 0.1);    
}

.Eurofins {
    background-color: rgba(243, 130, 56, 0.1);
}


.rows > div {
    float:  left;
}