﻿<div id="header">
    <div>Eurofins numbers</div>

    <div id="bounds">
        <div>
            <label>Minimum</label>
            <input id="LowerBound" />
        </div>
        <div>
            <label>Maximum</label>
            <input id="UpperBound" />
        </div>
    </div>

    <div id="refresh-bounds" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">refresh</i>
    </div>
    
    <div id="view-list" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"><i class="material-icons">view_list</i></div>
    <div id="view-rows" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" hidden><i class="material-icons">view_module</i></div>
    
</div>
<div id="numbers"></div>